<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form method="get" action="/search">
    <input type="text" name="q" placeholder="Search"><br/>
    <input type="checkbox" name="type" value="artist" checked>Artist<br/>
    <input type="checkbox" name="type" value="album" checked>Album<br/>
    <input type="checkbox" name="type" value="track" checked>Track<br/>
    <input type="checkbox" name="type" value="playlist" checked>Playlist<br/>
    <input type="submit" value="Submit">
</form>
