<details>
    <summary>Artists({{artists.total}})</summary>
    <p>Artists for this query</p>
    <div>
        {{#each artists.items}}
            <span style='background-image: url("{{images.1.url}}");'>{{name}}</span>
        {{/each}}
    </div>
</details>